::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #23a6f0;
  --second-text: #737373;
  --danger: #e74040;
  --ff: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
ul,
ol,
li {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
}
/* Header section start */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 17px;
}
.left__nav {
  display: flex;
  align-items: center;
  gap: 41px;
}
.logo {
  max-width: 187px;
  height: 58px;
}
.logo img {
  width: 100%;
  height: 100%;
}
nav {
  display: flex;
  gap: 20px;
}
nav a {
  font-family: var(--ff);
  color: var(--second-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-block: 17px;
}
.right__nav {
  display: flex;
  gap: 45px;
}
